* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }

  .hidden {
    display: none;
  }
  
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .bookmark-list {
    list-style: none;
    padding-left: 0;
  }
  
  .bookmark-list > li {
    margin-bottom: 20px;
    border: 1px solid grey;
    padding: 20px;
  }
  
  .bookmark-item {
    display: block;
    color: grey;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 15px;
  }

  #error-message {
    color: red;
  }

  .js-bookmark-title {
    margin-right: 4px;
  }

  .js-bookmark-desc {
    height:200px;
    width:400px;
    margin-top: 5px;
}

.vertical-radio-buttons {
    width:185px;
}

.vertical-radio-buttons div{
    display:block;
    clear:both;
}

#twoStar,#fourStar{
    margin-top:15px;
    margin-bottom: 15px;
}


@media (min-width: 600px) {
    .description {
        width:405px;
        display: inline-block;
    }
    .vertical-radio-buttons {
        display:inline-block;
    }
}
